<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MVCViewsDemo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MVCViewsDemo.styles.css" asp-append-version="true" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MVCViewsDemo</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Index">Products</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="dataDemoDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Data Demo
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dataDemoDropdown">
                                <li><a class="dropdown-item" asp-controller="DataDemo" asp-action="Index">ViewData/ViewBag</a></li>
                                <li><a class="dropdown-item" asp-controller="DataDemo" asp-action="FirstPage">TempData Demo</a></li>
                                <li><a class="dropdown-item" asp-controller="DataDemo" asp-action="Localization">Localization</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="tagHelpersDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Tag Helpers
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="tagHelpersDropdown">
                                <li><a class="dropdown-item" asp-controller="TagHelpers" asp-action="Index">Overview</a></li>
                                <li><a class="dropdown-item" asp-controller="TagHelpers" asp-action="BuiltIn">Built-In</a></li>
                                <li><a class="dropdown-item" asp-controller="TagHelpers" asp-action="Custom">Custom</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Contact" asp-action="Index">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        @await RenderSectionAsync("NavItems", required: false)
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <div class="row">
            @if (IsSectionDefined("Sidebar"))
            {
                <aside class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
                    @await RenderSectionAsync("Sidebar", required: false)
                </aside>
                <main role="main" class="col-md-9 col-lg-10 px-md-4 pb-3">
                    @RenderBody()
                </main>
            }
            else
            {
                <main role="main" class="col-12 pb-3">
                    @RenderBody()
                </main>
            }
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            @if (IsSectionDefined("Footer"))
            {
                @await RenderSectionAsync("Footer", required: false)
            }
            else
            {
                <text>&copy; 2025 - MVCViewsDemo - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></text>
            }
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
